# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: "#ModularAF"
email: your-email@example.com
description: >- # this means to ignore newlines until "baseurl:"
  Write an awesome description for your new site here. You can edit this
  line in _config.yml. It will appear in your document head meta (for
  Google search results) and in your feed.xml site description.
url: "https://modular-af.github.io/"
baseurl: "/" #subpath under the above url
github_username:  modular-af

enable_copy_code_button: true

atom_feed:
  hide: true

search: true
lunr:
  search_within_pages: true
  search_full_content: true  # remove this if page load time is long

footer:
  links:
    - label: "modular-af GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/modular-af"

breadcrumbs: true

# Build settings
remote_theme: mmistakes/minimal-mistakes@4.27.3
plugins:
  - jekyll-feed
  - jekyll-include-cache

# Include in jekyll processing
include:
  - _pages

# Exclude from processing
exclude:
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
